{% load static %}
<!DOCTYPE html>

<html lang="vi">
    <head>
        <title>
            Sign-in
        </title>
        <link rel="stylesheet" href="{%static 'css/login.css'%}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="login">
            <div class="welcome">
                <a href="/">
                    <img src="{%static 'img/logo.png'%}" alt="logo">
                </a>
                <div class="slogan">
                    <h3 class="first">Đi khắp bốn phương</h3>
                    <h3 class="second">Không đâu bằng nhà</h3>
                </div>
            </div>
            
            <div class="content">
                <h1 class="title">
                    Đăng nhập
                </h1>
                <form action="/signin">
                    {{form}}
                    <button type="submit">Đăng nhập</button>
                </form>
                <div class="not_account">
                    <p>
                        Bạn chưa có tài khoản ? <a href="/sign-up">Đăng ký</a>
                    </p>
                </div>
            </div>
            <a class="close_login" href="/">
                <img src="{%static 'img/close_button.png'%}" alt="Close Button">
            </a>
        </div>
    </body>
</html>