{% load static %}
<DOCTYPE html>

<html lang='en'>
    <head>
        <meta charset='utf-8' name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Middles</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>

    <body>
        <a href="/"><img src="{% static 'img/name.png' %}" alt="logo" class="img-logo" width="100px"></a>
        <div>
            <a class="home" href="/"><button type="button">Trang chủ</button></a>
            <a class="home" href="/"><button type="button">Danh mục</button></a>
            <a class="home" href="/"><button type="button">Liên hệ</button></a>
        </div>
        <h1>The Middles</h1>
        <p>This is the home page</p>
        {% for product in products %}
            <h2>{{ product.name }}</h2>
            <h2>{{ product.price }}</h2>
        {% endfor %}
    </body>
</html>