{% load static %}
<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>
      Gio-hang-da-dang-nhap - Potable Impassioned Salmon
    </title>
    <meta property="og:title" content="Gio-hang-da-dang-nhap - Potable Impassioned Salmon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <style data-tag="reset-style-sheet">
      html { line-height: 1.15;}body { margin: 0;}* { box-sizing: border-box;
      border-width: 0; border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption
      { margin: 0; padding: 0;}button { background-color: transparent;}button,input,optgroup,select,textarea
      { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0;}button,select
      { text-transform: none;}button,[type="button"],[type="reset"],[type="submit"]
      { -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner
      { border-style: none; padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus
      { outline: 1px dotted ButtonText;}a { color: inherit; text-decoration:
      inherit;}input { padding: 2px 4px;}img { display: block;}html { scroll-behavior:
      smooth }
    </style>
    <style data-tag="default-style-sheet">
      html { font-family: Inter; font-size: 16px; } body { font-weight: 400;
      font-style:normal; text-decoration: none; text-transform: none; letter-spacing:
      normal; line-height: 1.15; color: var(--dl-color-gray-black); background-color:
      var(--dl-color-gray-white); }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    data-tag="font" />
    <link rel="stylesheet" href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  
  <body>
    <link rel="stylesheet" href="{% static 'css/manh-style.css' %}" />
    <div>
      <link href="{% static 'css/gio-hang-da-dang-nhap.css' %}" rel="stylesheet" />
      <div class="gio-hang-da-dang-nhap-container">
        <div class="gio-hang-da-dang-nhap-thanh-dieu-huong">
          <div class="gio-hang-da-dang-nhap-container01">
            <div class="gio-hang-da-dang-nhap-container02">
              <a href="https://example.com" target="_blank" rel="noreferrer noopener"
              class="gio-hang-da-dang-nhap-link">
                Kênh người bán
              </a>
            </div>
            <div class="gio-hang-da-dang-nhap-container03">
              <a href="https://example.com" target="_blank" rel="noreferrer noopener"
              class="gio-hang-da-dang-nhap-link1">
                <span>
                  Tải ứng dụng
                </span>
                <br />
              </a>
            </div>
            <div class="gio-hang-da-dang-nhap-container04">
              <div class="gio-hang-da-dang-nhap-container05">
                <span class="gio-hang-da-dang-nhap-text02">
                  Kết nối
                </span>
              </div>
              <div class="gio-hang-da-dang-nhap-container06">
                <a href="http://facebook" target="_blank" rel="noreferrer noopener" class="gio-hang-da-dang-nhap-link2">
                  <img alt="anh-facebook" src="{% static 'img/logo-facebook.png' %}"
                  class="gio-hang-da-dang-nhap-image" />
                </a>
                <a href="http://instagram" target="_blank" rel="noreferrer noopener" class="gio-hang-da-dang-nhap-link3">
                  <img alt="anh-instagram" src="{% static 'img/logo-instagram.png' %}"
                  class="gio-hang-da-dang-nhap-image1" />
                </a>
              </div>
            </div>
          </div>
          <div class="gio-hang-da-dang-nhap-container07">
          </div>
          <div class="gio-hang-da-dang-nhap-container08">
            <div class="gio-hang-da-dang-nhap-container09">
              <a href="https://example.com" target="_blank" rel="noreferrer noopener"
              class="gio-hang-da-dang-nhap-link4">
                Thông báo
              </a>
            </div>
            <div class="gio-hang-da-dang-nhap-container10">
              <a href="https://example.com" target="_blank" rel="noreferrer noopener"
              class="gio-hang-da-dang-nhap-link5">
                Hỗ trợ
              </a>
            </div>
            <a href="http://trangnguoidung" target="_blank" rel="noreferrer noopener"
            class="gio-hang-da-dang-nhap-link6">
              <div class="gio-hang-da-dang-nhap-container11">
                <img alt="avatar-nguoi-dung" src="{% static 'img/logo-user.png' %}"
                class="gio-hang-da-dang-nhap-image2" />
<!-- Làm việc với tên người dùng ở đây -->
                <span class="gio-hang-da-dang-nhap-text03">
                  Tên người dùng Nguyễn Văn A
                </span>
<!-- Làm việc với tên người dùng ở đây -->
              </div>
            </a>
          </div>
        </div>
        <div class="gio-hang-da-dang-nhap-thanh-chinh">
          <div class="gio-hang-da-dang-nhap-container12">
            <a href="http://trangchu" target="_blank" rel="noreferrer noopener" class="gio-hang-da-dang-nhap-link7">
              <h1 class="gio-hang-da-dang-nhap-text04">
                <span>
                  The Middles&nbsp; &nbsp;
                </span>
                <br />
              </h1>
            </a>
            <h1 class="gio-hang-da-dang-nhap-text07">
              <span>
                |&nbsp; &nbsp;Giỏ hàng
              </span>
              <br />
            </h1>
            <img src="{% static 'img/cart.png' %}" alt="anh-gio-hang"
            class="gio-hang-da-dang-nhap-image3" />
          </div>
          <div class="gio-hang-da-dang-nhap-container13">
          </div>
          <div class="gio-hang-da-dang-nhap-container14">
<!-- làm việc với đầu vào phần tìm kiếm -->
            <input type="text" placeholder="Tìm kiếm" class="gio-hang-da-dang-nhap-textinput input"
            />

            <button type="button" class="gio-hang-da-dang-nhap-button button">
<!-- làm việc với đầu vào phần tìm kiếm -->
              <span>
                <span>
                  Xong
                </span>
                <br />
              </span>
            </button>
          </div>
        </div>
        <div class="gio-hang-da-dang-nhap-thanh-noi-dung">
          <div class="gio-hang-da-dang-nhap-container15">
            <div class="gio-hang-da-dang-nhap-container16">
              <div class="gio-hang-da-dang-nhap-container17">
                <div class="gio-hang-da-dang-nhap-container18">
                  <div class="gio-hang-da-dang-nhap-container19">

<!--Checkbox chọn tất cả  -->
                    <input type="checkbox" checked="false" class="gio-hang-da-dang-nhap-checkbox"
                    />
<!--Checkbox chọn tất cả  -->       

                  </div>
                  <div class="gio-hang-da-dang-nhap-container20">
                    <span class="gio-hang-da-dang-nhap-text13">
                      Sản phẩm&nbsp;
                    </span>
                  </div>
                </div>
                <div class="gio-hang-da-dang-nhap-container21">
                </div>
              </div>
              <div class="gio-hang-da-dang-nhap-container22">
                <div class="gio-hang-da-dang-nhap-container23">
                  <span class="gio-hang-da-dang-nhap-text14">
                    Đơn giá
                  </span>
                </div>
                <div class="gio-hang-da-dang-nhap-container24">
                  <span class="gio-hang-da-dang-nhap-text15">
                    Số lượng
                  </span>
                </div>
                <div class="gio-hang-da-dang-nhap-container25">
                  <span class="gio-hang-da-dang-nhap-text16">
                    Số tiền
                  </span>
                </div>
                <div class="gio-hang-da-dang-nhap-container26">
                  <span class="gio-hang-da-dang-nhap-text17">
                    <span>
                      Thao tác
                    </span>
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="gio-hang-da-dang-nhap-container27">

<!-- Đây là phần sẽ hiển thị nội dung của từng sản phẩm trong giỏ hàng -->
            {% for x in lst %}
              <div class="gio-hang-da-dang-nhap-khung-san-pham">
                <div class="gio-hang-da-dang-nhap-container28">
                  <div class="gio-hang-da-dang-nhap-container29">
                    <input type="checkbox" checked="false" class="gio-hang-da-dang-nhap-checkbox-chon-sp"
                    />
                  </div>
                  <div class="gio-hang-da-dang-nhap-container30">
                    <div class="gio-hang-da-dang-nhap-container31">
                      <a href="http://linksp" target="_blank" rel="noreferrer noopener" class="gio-hang-da-dang-nhap-link8">
                        <img alt="anh-san-pham" src="https://play.teleporthq.io/static/svg/default-img.svg"
                        class="gio-hang-da-dang-nhap-image4" />
                      </a>
                    </div>
                    <div class="gio-hang-da-dang-nhap-container32">
                      <div class="gio-hang-da-dang-nhap-container33">
                        <span class="gio-hang-da-dang-nhap-text20">
                          <span>
                            {{content_review_product}}
                          </span>
                          <br />
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gio-hang-da-dang-nhap-container34">
                  <div class="gio-hang-da-dang-nhap-container-don-gia">
                    <span class="gio-hang-da-dang-nhap-text23">
                      <span>
                        {{unit_price}}
                      </span>
                      <br />
                    </span>
                  </div>
                  <div class="gio-hang-da-dang-nhap-container-sl">
                    <button type="button" class="gio-hang-da-dang-nhap-button-giam-sl button">
                      <span>
                        <span>
                          -
                        </span>
                        <br />
                      </span>
                    </button>
<!-- input số lượng sản phẩm -->
                    <input type="text" class="gio-hang-da-dang-nhap-input-sl input" value="1" title="Bất kể bạn nhập gì từ bàn phím, chúng tôi sẽ lọc số, dấu cộng, trừ để tính toán dùm cho bạn"
                    />
<!-- input số lượng sản phẩm -->
                    <button type="button" class="gio-hang-da-dang-nhap-button-tang-sl button">
                      <span>
                        <span>
                          +
                        </span>
                        <br />
                      </span>
                    </button>
                  </div>
                  <div class="gio-hang-da-dang-nhap-container-so-tien">
                    <span class="gio-hang-da-dang-nhap-text32">
                      <span>
                        {{total_price}}
                      </span>
                      <br />
                    </span>
                  </div>
                  <div class="gio-hang-da-dang-nhap-container-thao-tac">
                    <select class="gio-hang-da-dang-nhap-select">
                      <option value="Option 1">
                        Option 1
                      </option>
                      <option value="Option 1">
                        Option 1
                      </option>
                      <option value="Option 2">
                        Option 2
                      </option>
                      <option value="Option 2">
                        Option 2
                      </option>
                      <option value="Option 3">
                        Option 3
                      </option>
                      <option value="Option 3">
                        Option 3
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            {% endfor %}
<!-- kết thúc phần hiển thị nội dung của từng sản phẩm trong giỏ hàng -->
          </div>

          <div class="gio-hang-da-dang-nhap-container35">
            <div class="gio-hang-da-dang-nhap-container36">
              <div class="gio-hang-da-dang-nhap-container37">
              </div>
              <div class="gio-hang-da-dang-nhap-container38">
              </div>
            </div>
            <div class="gio-hang-da-dang-nhap-container39">
              <div class="gio-hang-da-dang-nhap-container-tong-sotien">

<!-- Làm việc với tổng số sản phẩm và tổng số tiền ở đây -->
                <span>
                  Tổng số tiền ({{total_product}} sản phẩm): {{total_checkout}}
                </span>
<!-- Làm việc với tổng số sản phẩm và tổng số tiền ở đây -->

              </div>
              <div class="gio-hang-da-dang-nhap-container40">

<!-- button checkout -->
                <button type="button" class="gio-hang-da-dang-nhap-button-mua-hang button">
                  Mua hàng
                </button>
<!-- button checkout -->

              </div>
            </div>
          </div>
        </div>
        <div class="gio-hang-da-dang-nhap-thanh-cam-on">
          <div class="gio-hang-da-dang-nhap-container41">
            <h1>
              Chúng tôi xin chân thành cảm ơn quý khách đã sử dụng dịch vụ
            </h1>
          </div>
          <div class="gio-hang-da-dang-nhap-container42">
            <img alt="logo-shop" src="{% static 'img/logo.png' %}"
            class="gio-hang-da-dang-nhap-image5" />
          </div>
        </div>
        <div class="hoi-thanh-toan-container hoi-thanh-toan-root-class-name2">
          <div class="hoi-thanh-toan-container1">
            <div class="hoi-thanh-toan-container2">
              <span class="hoi-thanh-toan-text">
                <span>
                  Bạn có chắc là muốn thanh toán không?
                </span>
              </span>
            </div>
            <div class="hoi-thanh-toan-container3">
              <div class="hoi-thanh-toan-container4">
                <button type="button" class="hoi-thanh-toan-button button">
                  <span>
                    Không
                  </span>
                </button>
              </div>
              <div class="hoi-thanh-toan-container5">
                <a href="http://order" target="_blank" rel="noreferrer noopener" class="hoi-thanh-toan-link button">
                  <span>
                    Có
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="giao-dich-thanh-cong-container giao-dich-thanh-cong-root-class-name2">
          <div class="giao-dich-thanh-cong-container1">
            <div class="giao-dich-thanh-cong-container2">
              <img src="https://play.teleporthq.io/static/svg/default-img.svg" alt="anh-dau-tich-xanh"
              class="giao-dich-thanh-cong-image" />
            </div>
            <div class="giao-dich-thanh-cong-container3">
              <h1>
                <span>
                  Giao dịch thành công
                </span>
              </h1>
            </div>
          </div>
        </div>
        <div class="giao-dich-that-bai-container giao-dich-that-bai-root-class-name2">
          <div class="giao-dich-that-bai-container1">
            <div class="giao-dich-that-bai-container2">
              <img src="https://play.teleporthq.io/static/svg/default-img.svg" alt="dau-x-do"
              class="giao-dich-that-bai-image" />
            </div>
            <div class="giao-dich-that-bai-container3">
              <div class="giao-dich-that-bai-container4">
                <h1>
                  <span>
                    Giao dịch thất bại
                  </span>
                </h1>
              </div>
              <div class="giao-dich-that-bai-container5">
                <button type="button" class="giao-dich-that-bai-button button">
                  <span>
                    Quay lại
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
<!-- chưa chọn sản phẩm -->
        <div class="chua-chon-san-pham-container chua-chon-san-pham-root-class-name2">
          <div class="chua-chon-san-pham-container1">
            <div class="chua-chon-san-pham-container2">
              <h1>
                <span>
                  Bạn vẫn chưa chọn sản phẩm nào
                </span>
              </h1>
            </div>
            <div class="chua-chon-san-pham-container3">
              <button type="button" class="chua-chon-san-pham-button button">
                <span>
                  Ok
                </span>
              </button>
            </div>
          </div>
        </div>
<!-- chưa chọn sản phẩm -->

<!-- component sản phẩm không đủ -->
        <div class="san-pham-khong-du-container san-pham-khong-du-root-class-name2">
          <div class="san-pham-khong-du-container1">
            <div class="san-pham-khong-du-container2">
              <h1>
                <span>
                  Rất tiếc, số sản phẩm không đủ cho bạn
                </span>
              </h1>
            </div>
            <div class="san-pham-khong-du-container3">
              <button type="button" class="san-pham-khong-du-button button">
                <span>
                  Ok
                </span>
              </button>
            </div>
          </div>
        </div>
<!-- component sản phẩm không đủ -->

      </div>
    </div>

<!-- file js -->
    <script src = "{% static 'js/gio-hang-da-dang-nhap.js' %}"></script>
  </body>

</html>